body {
    background: linear-gradient(to right, #00bcd4, #3f51b5, #673ab7);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

h1, h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    color: #333;
}

th {
    background-color: #4caf50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

label {
    color: #555;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

input {
    padding: 15px;
    margin-bottom: 20px;
    width: 300px;
    border: 2px solid #009688;
    border-radius: 8px;
}

button {
    margin-right: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1565c0;
}
#answer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

#answer h2 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 10px;
}

#answer p {
    margin-bottom: 15px;
}

#answer a {
    color: #007BFF;
    text-decoration: underline;
}

#answer code {
    background-color: #f8f9fa;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
}

#answer pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
}

#answer img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}