<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1>Bine ai venit, <span th:text="${username}">[Missing Username]</span>!</h1>

    <p>Prenume: <span th:text="${prenume}">[Missing Prenume]</span></p>
    <p>Nume: <span th:text="${nume}">[Missing Nume]</span></p>
    <p>Email: <span th:text="${email}">[Missing Email]</span></p>
    <p>Data de naștere: <span th:text="${zinastere + '/' + lunanastere + '/' + annastere}">[Missing Data de naștere]</span></p>

    <div th:if="${inscris}">
        <p>Ai un medic de familie: <span th:text="${numeMedic}"></span>.</p>
        <button th:if="${showExcludeButton}" onclick="excludeMedic()">Paraseste medicul de familie!</button>
    </div>

    <div th:unless="${inscris}">
        <p>Nu ai un medic de familie.</p>
        <button onclick="showDialog()">Vezi medicii disponibili</button>
    </div>

    <div id="dialog" th:if="${!inscris}">
        <h3>Medici disponibili:</h3>
        <form action="/alege-medic" method="post" class="form">
            <select name="medic" th:field="${medicSelectForm.medic}" class="input">
                <option th:each="medic : ${listaMedici}" th:value="${medic.numeUtilizator}" th:text="${medic.prenume + ' ' + medic.nume + ' - ' + medic.ziNastere + '/' + medic.lunaNastere + '/' + medic.anNastere}"></option>
            </select>
            <p th:each="medic : ${listaMedici}" th:if="${medic.numeUtilizator == medicSelectForm.medic}">
                Detalii medic: <span th:text="${medic.nume}, ${medic.prenume}, ${medic.email}"></span>
            </p>
            <br>
            <button type="submit" class="button">Alege</button>
        </form>
        <br>
        <button onclick="closeDialog()" class="button">Închide</button>
    </div>

    <div th:if="${listaRetete}">
        <h2>Istoricul tau medical</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Nume Pacient</th>
                <th>Afectiune</th>
                <th>Tratament</th>
                <th>Status</th>
                <th>Medic Constatator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reteta : ${listaRetete}">
                <td th:text="${reteta.numePacient}"></td>
                <td th:text="${reteta.afectiune}"></td>
                <td th:text="${reteta.tratament}"></td>
                <td th:text="${reteta.status}"></td>
                <td th:text="${reteta.medicConstatator}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button onclick="location.href='/login'" class="button">Logout</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        closeDialog();
        closeSimptomeDialog();
    });

    function showDialog() {
        var dialog = document.getElementById('dialog');
        dialog.style.display = 'block';
    }

    function closeDialog() {
        var dialog = document.getElementById('dialog');
        dialog.style.display = 'none';
    }

    function excludeMedic() {
        window.location.href = '/exclude-medic';
    }


</script>
</body>
</html>
