<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1>Bine ai venit, <span th:text="${username}">[Missing Username]</span>!</h1>

    <p>Prenume: <span th:text="${prenume}">[Missing Prenume]</span></p>
    <p>Nume: <span th:text="${nume}">[Missing Nume]</span></p>
    <p>Email: <span th:text="${email}">[Missing Email]</span></p>
    <p>Data de naștere: <span th:text="${zinastere + '/' + lunanastere + '/' + annastere}">[Missing Data de naștere]</span></p>

    <div th:if="${inscris}">
        <p>Ai un medic de familie: <span th:text="${numeMedic}"></span>.</p>
        <button th:if="${showExcludeButton}" onclick="excludeMedic()">Paraseste medicul de familie!</button>
    </div>

    <div th:unless="${inscris}">
        <p>Nu ai un medic de familie.</p>
        <button onclick="showDialog()">Vezi medicii disponibili</button>
    </div>

    <div id="dialog" th:if="${!inscris}">
        <h3>Medici disponibili:</h3>
        <form action="/alege-medic" method="post" class="form">
            <select name="medic" th:field="${medicSelectForm.medic}" class="input">
                <option th:each="medic : ${listaMedici}" th:value="${medic.numeUtilizator}" th:text="${medic.prenume + ' ' + medic.nume + ' - ' + medic.ziNastere + '/' + medic.lunaNastere + '/' + medic.anNastere}"></option>
            </select>
            <p th:each="medic : ${listaMedici}" th:if="${medic.numeUtilizator == medicSelectForm.medic}">
                Detalii medic: <span th:text="${medic.nume}, ${medic.prenume}, ${medic.email}"></span>
            </p>
            <br>
            <button type="submit" class="button">Alege</button>
        </form>
        <br>
        <button onclick="closeDialog()" class="button">Închide</button>
    </div>

    <div th:if="${listaRetete}">
        <h2>Istoricul tau medical</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Nume Pacient</th>
                <th>Afectiune</th>
                <th>Tratament</th>
                <th>Status</th>
                <th>Medic Constatator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reteta : ${listaRetete}">
                <td th:text="${reteta.numePacient}"></td>
                <td th:text="${reteta.afectiune}"></td>
                <td th:text="${reteta.tratament}"></td>
                <td th:text="${reteta.status}"></td>
                <td th:text="${reteta.medicConstatator}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <button onclick="showSymptomsDialog()" class="button">Vezi simptome și tratamente</button>
    <div id="symptomsDialog" style="display: none;">
        <h3>Simptome și tratamente:</h3>
        <select id="symptomsSelect" class="input">
            <option value="Tuse">Tuse</option>
            <option value="Stranut">Stranut</option>
            <option value="Nas infundat">Nas infundat</option>
            <option value="Dureri in gat">Dureri in gat</option>
            <option value="Dureri de cap">Dureri de cap</option>
            <option value="Dureri de stomac">Dureri de stomac</option>
            <option value="Dureri osoase">Dureri osoase</option>
            <option value="Balonare">Balonare</option>
            <option value="Constipatie">Constipatie</option>
            <option value="Varsaturi">Varsaturi</option>
            <option value="Febra">Febra</option>
            <option value="Frisoane">Frisoane</option>
            <option value="Stari de lesin">Stari de lesin</option>
        </select>
        <br><br>
        <button onclick="getTreatment()" class="button">Genereaza un tratament</button>
        <br><br>
        <button onclick="closeSymptomsDialog()" class="button">Inchide</button>
        <p id="treatmentResult"></p>
    </div>
    <button onclick="location.href='/login'" class="button">Logout</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        closeDialog();
        closeSimptomeDialog();
    });

    function showDialog() {
        var dialog = document.getElementById('dialog');
        dialog.style.display = 'block';
    }

    function closeDialog() {
        var dialog = document.getElementById('dialog');
        dialog.style.display = 'none';
    }

    function excludeMedic() {
        window.location.href = '/exclude-medic';
    }

    function showSymptomsDialog() {
        var dialog = document.getElementById('symptomsDialog');
        dialog.style.display = 'block';
    }

    function closeSymptomsDialog() {
        var dialog = document.getElementById('symptomsDialog');
        dialog.style.display = 'none';
    }

    function getTreatment() {
        var symptomsSelect = document.getElementById('symptomsSelect');
        var selectedSymptom = symptomsSelect.value;
        var treatment = getTreatmentForSymptom(selectedSymptom);
        var treatmentResult = document.getElementById('treatmentResult');
        treatmentResult.innerHTML = 'Tratament generat pentru ' + selectedSymptom + ': ' + treatment;
    }
    function getTreatmentForSymptom(symptom) {
        switch (symptom) {
            case 'Tuse':
                return 'Paxeladine sirop / Sinecod sirop / Ambroxol';
            case 'Stranut':
                return 'ACC / Bronchicum / Sinecod sirop';
            case 'Nas infundat':
                return 'Tantum Verde / Olynth 0.1% spray nazal / Trachisan';
            case 'Dureri in gat':
                return 'Hexoraletten / Strepsils / Faringo Intensiv';
            case 'Dureri de cap':
                return 'Saridon / Nurofen / Synocam';
            case 'Dureri de stomac':
                return 'Stomach Forte / Stomacalm';
            case 'Dureri osoase':
                return 'Nurofen / Diclofenac';
            case 'Balonare':
                return 'Kebene Forte / Himalaya Gasex';
            case 'Constipatie':
                return 'Cicolax / Herbolax';
            case 'Varsaturi':
                return 'Emetix / Cocculine';
            case 'Febra':
                return 'Fervex / Nurofen';
            case 'Frisoane':
                return 'A ferin plus / Alka Seltzer';
            case 'Stari de lesin':
                return 'Anxin / Deflamil';
            default:
                return 'Tratament nedeterminat';
        }
    }

</script>
</body>
</html>
