<!DOCTYPE html>
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logare</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1>Logheaza-te!</h1>
    <form action="/login" method="post">
        <label for="username">Nume de utilizator:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Parola:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Logare</button>
    </form>
    <br>

    <button onclick="location.href='/'">Home</button>
    <p>Nu ai cont? Inregistreaza-te!</p>
    <button onclick="location.href='/register'">Register</button>
</div>
<div th:if="${message}" class="message">
    <p th:text="${message}"></p>
</div>
</body>
</html>
